version: "3.8"

services:
  api:
    build: ./backend
    env_file:
      - ./.env
    volumes:
      # Host-Ordner „storage“ wird in den Container gemountet
      - ./storage:/app/storage
    ports:
      - "8000:8000"
    environment:
      CELERY_BROKER_URL: "redis://redis:6379/0"
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build: ./worker
    env_file:
      - ./.env
    volumes:
      - ./storage:/worker/storage
    environment:
      CELERY_BROKER_URL: "redis://redis:6379/0"
    depends_on:
      - api
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"   # React-UI unter http://localhost:3000
    depends_on:
      - api
    restart: unless-stopped
